.main-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 36px;
}

.main-text {
  font-family: fette-shadow;
  text-align: center;
  font-size: 100px;
  color: rgb(0, 21, 185);
} 

.main-image-logo {
  margin-left: 90px;
}

.main-highlight-text {
  font-family: fette;
  color: red;
}

.main-page-tagline {
  text-align: center;
  font-family: fette;
  color: rgb(0, 21, 185);
  font-size: 32px;
  padding: 18px;
}

.design-services {
  background-color: rgb(0, 21, 185);
  text-align: center;
  font-family: fette;
  font-size: 500%;
  display: grid;
  grid-template-columns: 0.25fr 1fr 0.25fr;
  align-items: center;
  margin: 0;
  padding-bottom: 20px;

}
.design {
 margin-top: 10px;
 display: grid;
 grid-template-columns: 1fr 1fr;
 margin-left: 30px;
}

.circle-left {
  margin-left: 80px;
  margin-bottom: 250px;
}

.services {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-right: 30px;
}

.circle-right {
  margin-right: 80px;
  margin-top: 380px;
}

.graphic,
.poster {
  color: #ffbc3a;
}


.logo,
.brand{
  color: #ffeeaa;
}

.vector{
  color: #ff7f2a;
}

.graphic,
.logo,
.brand,
.vector{
  padding-bottom: 95px;
}

.gallery-page {
  background-color: #ffeeaa;
  padding: 20px;
  padding-right: 0;
}

.gallery-photos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 20px;
  align-items: center;
}
  

.gallery-heading{
  margin: 0;
  font-family: fette-shadow;
  text-align: center;
  font-size: 350%;
  color: black;
}

.gallery-image {
  margin-right: 20px;
  margin-bottom: 16px;
  padding-bottom: 0px;
}


.tools-page {
  background-color: orange;
  padding: 20px;
  font-family: fette-shadow;
  text-align: center;
  font-size: 350%;
  color: black;
}

.tools-photos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  padding-top: 10px;
  background-color: orange;
}

.tools-image {
  width: 100%;
}

.photoshop {
  width: 80%;

}

.css-img {
  width: 56%;
}

.audacity {
  width: 80%;
  align-self: center;

}

.python {
  width: 80%;
}

.html-img {
  width: 80%;
}

